body{
    background-color: #efefef;
}
.main{
    margin: 60px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
/*首页问题头像*/
.media-object{
    width: 38px;
    height: 38px;
}
.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.main .section{
    margin-top: 20px;
}
/*问题标签*/
.question-tag{
    margin-right: 10px;
}
.question-related{
    list-style: none;
    padding-left: 0px;
    font-size: 15px;
    line-height: 30px;
}
.question-wechat{
    height: 150px;
    width: 150px;
}

.publish-tab-tag{
    display: none;
}
.publish-tag-padding{
    padding-top: 10px;
}
.publish-tab-tag .label-info{
    margin-top: 45px;
    margin-right: 10px;
}
/*编辑*/
.edit{
    color: #999;
    font-size: 13px;
}
/*错误页面*/
.jumbotron{
    margin: 150px;
}
.media-comment{
    padding-top: 3px;
}
.text-comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin: 10px 0;
}
.comment-sp{
    margin-top: 0px;
}
.menu{
    color: #999;
    margin-top: 5px;
    margin-left: 45px;
}
.menu .icon{
    margin-right: 20px;
    font-size: 15px;
    /*鼠标移动到图标上变小手*/
    cursor: pointer;
}
/*点击评论显示高亮通过js控制css*/
.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}
.comments .commnet-hr{
    margin-top: 0px;
}
.question-title{
    margin-top: 30px;
}
/*二级评论的样式*/
.sub-comment .commnet-hr{
    margin-top: 0px;
}

.sub-comment{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.sub-comment .btn{
    margin: 10px 0;
}




