<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>技术社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入bootstrap的css样式-->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--自定义css样式-->
    <link rel="stylesheet" href="css/community.css">
    <!--引入jQuery库 js样式才能生效-->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!--bootstrap js type="application/javascript"记得加上-->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>



</head>
<body>
<!--导航栏-->
<div th:insert="~{navigation.html :: nav}"></div>
<!--流式布局容器-->
<div class="container-fluid main">
    <div class="row">
        <!--左半部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-sm-12"  >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>

            <div class="media" th:each="questionDto : ${questionDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="@{${questionDto.user.avatarUrl}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questionDto.title}">电视剧哈伦裤导航栏</h4>
                    <span th:text="${questionDto.description}"></span><br>
                    <span class="text-color-999"> <span th:text="${questionDto.commentCount==null?0:1}"></span> 个回复 • <span th:text="${questionDto.viewCount==null?0:1}"></span> 个浏览 •<span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
        </div>



        <!--右半部分-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-sm-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>